<!DOCTYPE html>
<html>
    <head>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
    </head>
    <body>
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <title>Buster's Best Bowling Alley</title>
  </head>
        <p>...de is inside of a '.erb' file in the views directory, where it belongs.</p>
</html>
